.block-background {
  background-image: linear-gradient(#FFFFFF, #F0F1FF);
  padding-bottom: 100px;
}

.block-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .block:first-child {
    box-sizing: border-box;
    background-image: linear-gradient(#FF6F48, #F02AA6);
    padding: 50px 80px 0px 40px;

  }

  .block:nth-child(2),
  .block:nth-child(5) {
    margin: 40px 30px;
  }

  .block {
    box-sizing: border-box;
    padding: 40px 35px 0px 35px;
    margin: 40px 0;
    border-radius: 25px;
    height: 400px;
    width: calc((100%/3) - 60px/3);
    background-color: #FFFFFF;
    position: relative;

    h2 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 800;
      color: white;
    }

    h3 {
      font-size: 24px;
      font-weight: 800;
      line-height: 28px;
      margin: 20px 0;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      color: #83869A;
      margin: 40px 0;
    }

    a {
      text-decoration: none;
      color: #F74780;
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      bottom: 50px;
    }

    a:hover {
      opacity: 0.5;
    }

    img {
      position: absolute;
      left: 35px;
      top: -30px;
    }
  }
}