.top-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;

  img {
    width: 111.17px;
    height: 27.68px;
  }

  button {
    background-color: #13183F;

  }

  button:hover {
    background-color: #666CA3;
    cursor: pointer;
  }
}