/* block-container media queries */

@media (max-width: 1200px) {

  .wrapper {
    width: 95%;
  }



  .splash-container {
    h1 {
      font-size: 40px;
      font-weight: 800;
      line-height: 51px;
      margin-bottom: 40px;
    }

    p {
      width: 50%;
    }
  }



  .block-background {
    padding-bottom: 50px;
  }

  .block-container {
    .block:first-child {
      padding-right: 60px;
    }

    .block:nth-child(even) {
      margin: 25px 0px 25px 5px;
    }

    .block:nth-child(odd) {
      margin: 25px 5px 25px 0px;
    }

    .block {
      width: calc((100%/2 - 5px));
      padding: 25px 10px 0px 30px;
      height: 250px;

      h2 {
        font-size: 24px;
        line-height: 28px;
      }

      h3 {
        font-size: 20px;
        line-height: 28px;
        margin: 15px 0;
      }

      p {
        font-size: 16px;
        line-height: 28px;
        margin: 20px 0;
      }

      a {
        bottom: 30px;
      }
    }
  }
}

@media (max-width: 1014px) {
  body {
    background-image: url(../assets/image-hero-tablet.png);
    background-position: top -60px right -300px;
  }
}

@media (max-width: 658px) {
  body {
    background-image: none;
    background-position: top 0px right 0px;
  }

  .image-container {
    background-image: url(../assets/image-hero-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 330px;
  }

  .splash-container {
    margin-bottom: 20px;

    p {
      width: 100%;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 594px) {
  button {
    width: 140px;
    height: 48px;
  }

  .top-container {
    margin-bottom: 40px;

    img {
      width: 89px;
      height: 23px;
    }
  }

  footer .bottom-container {

    img {
      width: 89px;
      height: 23px;
    }
  }

  .wrapper {
    width: 95%;
  }

  .block-container {
    .block:first-child {
      padding: 30px 60px 0px 40px;
      height: 120px;
    }

    .block:nth-child(even) {
      margin: 25px 0px 25px 0px;
    }

    .block:nth-child(odd) {
      margin: 25px 0px 25px 0px;
    }

    .block {
      width: calc((100%));

    }
  }
}