.wrapper {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
  color: white;
  width: 167px;
  height: 56px;
  border-radius: 30px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 18px;
  font-weight: bold;
}

body {
  background-image: url(../assets/image-hero-desktop.png);
  background-repeat: no-repeat;
  background-position: 110vh -20vh;
}