/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
  color: white;
  width: 167px;
  height: 56px;
  border-radius: 30px;
  border: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 18px;
  font-weight: bold;
}

body {
  background-image: url(../assets/image-hero-desktop.png);
  background-repeat: no-repeat;
  background-position: top -180px right -350px;
}

.top-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

.top-container img {
  width: 111.17px;
  height: 27.68px;
}

.top-container button {
  background-color: #13183F;
}

.top-container button:hover {
  background-color: #666CA3;
  cursor: pointer;
}

.splash-container {
  margin-bottom: 200px;
}

.splash-container h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 70px;
  margin-bottom: 40px;
}

.splash-container p {
  line-height: 28px;
  font-size: 18px;
  color: #83869A;
  width: 37%;
  margin-bottom: 45px;
}

.splash-container img {
  position: absolute;
  top: -250px;
  right: -200px;
  z-index: -1;
}

.splash-container button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F48), to(#F02AA6));
  background-image: linear-gradient(#FF6F48, #F02AA6);
}

.splash-container button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.block-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F1FF));
  background-image: linear-gradient(#FFFFFF, #F0F1FF);
  padding-bottom: 100px;
}

.block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-container .block:first-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F48), to(#F02AA6));
  background-image: linear-gradient(#FF6F48, #F02AA6);
  padding: 50px 80px 0px 40px;
}

.block-container .block:nth-child(2),
.block-container .block:nth-child(5) {
  margin: 40px 30px;
}

.block-container .block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 35px 0px 35px;
  margin: 40px 0;
  border-radius: 25px;
  height: 400px;
  width: calc((100%/3) - 60px/3);
  background-color: #FFFFFF;
  position: relative;
}

.block-container .block h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  color: white;
}

.block-container .block h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  margin: 20px 0;
}

.block-container .block p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #83869A;
  margin: 40px 0;
}

.block-container .block a {
  text-decoration: none;
  color: #F74780;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 50px;
}

.block-container .block a:hover {
  opacity: 0.5;
}

.block-container .block img {
  position: absolute;
  left: 35px;
  top: -30px;
}

footer {
  background-color: #13183F;
  padding: 20px 0;
}

footer .bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottom-container img {
  width: 111.17px;
  height: 27.68px;
}

footer .bottom-container button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4851FF), to(#F02AA6));
  background-image: linear-gradient(#4851FF, #F02AA6);
  position: relative;
}

footer .bottom-container button::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: -1;
  opacity: 0%;
}

footer .bottom-container button:hover {
  cursor: pointer;
}

footer .bottom-container button:hover::after {
  opacity: 50%;
}

/* block-container media queries */
@media (max-width: 1200px) {
  .wrapper {
    width: 95%;
  }
  .block-background {
    padding-bottom: 50px;
  }
  .block-container .block:first-child {
    padding-right: 60px;
  }
  .block-container .block:nth-child(even) {
    margin: 25px 0px 25px 5px;
  }
  .block-container .block:nth-child(odd) {
    margin: 25px 5px 25px 0px;
  }
  .block-container .block {
    width: calc((100%/2 - 5px));
    padding: 25px 10px 0px 30px;
    height: 250px;
  }
  .block-container .block h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .block-container .block h3 {
    font-size: 20px;
    line-height: 28px;
    margin: 15px 0;
  }
  .block-container .block p {
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0;
  }
  .block-container .block a {
    bottom: 30px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 584px) {
  .wrapper {
    width: 95%;
  }
  .splash-container {
    margin-bottom: 50px;
  }
  .block-container .block:first-child {
    padding: 30px 60px 0px 40px;
    height: 120px;
  }
  .block-container .block:nth-child(even) {
    margin: 25px 0px 25px 0px;
  }
  .block-container .block:nth-child(odd) {
    margin: 25px 0px 25px 0px;
  }
  .block-container .block {
    width: calc((100%));
  }
}
